// Цвета
// -- Фон
$bgColor: #fff;
$bgColorDark: #222;
$bgMainPhoto: #F1E4E6;
$bgContent: #F8F8F8;
$bgMainHeading: #F8F3F4;
$bgFeedbackInput: #E1E1E1;
$bgCheckOut: #F5F3F3;

// -- Ссылки
$dropdownLink: #6F6E6E;
$linkPage: #C4C4C4;

// -- Контент
$colorContentPink: #F16D7F;
$textBlack: #000;
$textContent: #9F9F9F;
$textContentItem: #5D5D5D;
$bottomHeadingColor: #FBFBFB;
$borderProductMain: #EAEAEA;
$bgButtonFeedbackHover: #F7E4E2;

// Размеры
// -- Ширина сайта, контентная часть
$widthSite: 1600px;
$widthContent: 1140px;
$widthItemContent: 360px;